<%- include('../layout/header.ejs') %>  
<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                  <label for="Product">Product title</label>
                  <input type="text" class="form-control" name="newProduct" aria-describedby="addProduct">
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="number" class="form-control" name="price" aria-describedby="addProduct">
                </div>
                <div class="form-group">
                    <label for="Image">Image</label>
                    <input type="text" class="form-control" name="image" aria-describedby="addProduct">
                </div>
                <div class="form-group">
                    <textarea name="description" rows="6" style="width: 100%;"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
<%- include('../layout/footer.ejs') %>  